<h1>Medconnect</h1>
<div class="main" ng-controller='Login as login'>
	<form role="form" ng-submit="login.postForm()">
		<div class="form-group">
			<label for="username">Email</label>
			<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
				<input type="text" class="form-control" id="username" ng-model="login.email" required>
      </div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input type="password" class="form-control" id="password" ng-model="login.password" required>
      </div>
		</div>
		<button type="submit" class="btn btn-lg btn-primary btn-block">
		Log In
		</button>
	</form>
	<div class="login-or">
		<hr class="hr-or">
		<span class="span-or">Register</span>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<a href="register-patient" class="btn btn-lg btn-success btn-block">Patient</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<a href="register-doctor" class="btn btn-lg btn-info btn-block">Doctor</a>
		</div>
	</div>
</div>
