<div class="modal-header">
    <h3 class="modal-title">Medconnect Alert</h3>
</div>
<div class="modal-body">
   <p>
    {{item}}
   </p>
   <table class="table table-striped table-bordered" ng-hide="{{!schedule}}">
     <tr ng-repeat="s in schedule" ng-show="s[3]"><td>{{s[0]}}</td><td>{{s[1] | date : 'shortTime'}} to {{s[2] | date : 'shortTime'}}</td></tr>
   </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
