<form class="form-horizontal" name="patientForm" ng-controller="PatientProfile as patient" ng-submit="patient.register()" novalidate>
  <h1 ng-show = "!patient.editMode">Patient Profile</h1>
  <h1 ng-show = "patient.editMode">Patient Profile Edit</h1>
  <div class="form-group" ng-class="{ 'has-error': patientForm.email.$touched && patientForm.email.$invalid }">
    <label for="email" class="col-sm-4 control-label">Email:</label>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input placeholder="example@gmail.com" type="email" name="email" class="form-control" id="email" ng-model="patient.email" ng-maxlength="80" readonly>
      </div>
        <div class="help-block" ng-messages="patientForm.email.$error" ng-show="patientForm.email.$touched">
          <div ng-messages-include="my-custom-messages"></div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': patientForm.firstName.$touched && patientForm.firstName.$invalid }">
    <label for="firstName" class="col-sm-4 control-label">First Name:</label>
    <div class="col-sm-4 ">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input placeholder="bishal" type="text" name="firstName" class="form-control" id="firstName" ng-model="patient.firstName" ng-maxlength="80" ng-readonly="!patient.editMode">
      </div>
        <div class="help-block" ng-messages="patientForm.firstName.$error" ng-show="patientForm.firstName.$touched">
          <div ng-messages-include="my-custom-messages"></div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': patientForm.lastName.$touched && patientForm.lastName.$invalid }">
    <label for="lastName" class="col-sm-4 control-label">Last Name:</label>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input placeholder="Tamang" type="text" name="lastName" class="form-control" id="lastName" ng-model="patient.lastName" ng-maxlength="80" ng-readonly="!patient.editMode">
      </div>
        <div class="help-block" ng-messages="patientForm.lastName.$error" ng-show="patientForm.lastName.$touched">
          <div ng-messages-include="my-custom-messages"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-sm-4 control-label">Address:</label>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-home fa-fw"></i></span>
        <input type="text" class="form-control" id="address" ng-model="patient.address" ng-readonly="!patient.editMode">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="phoneNumber" class="col-sm-4 control-label">Phone:</label>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
        <input type="text" class="form-control" id="phoneNumber" ng-model="patient.phoneNumber" ng-readonly="!patient.editMode">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="bloodType" class="col-sm-4 control-label">Blood Type:</label>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-heart-o fa-fw"></i></span>
        <input type="text" class="form-control" id="bloodType" ng-model="patient.bloodType" ng-readonly="!patient.editMode">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-2">
      <input class="btn btn-default" type="button" value="Edit" ng-click="patient.edit()" ng-show = "!patient.editMode">
      <button type="submit" class="btn btn-default" ng-show = "patient.editMode">Submit</button></div>
    <div ng-if="patient.error" class="col-sm-2">
      <button class="btn btn-danger">{{patient.message}}</button>
    </div>
  </div>
</form>

<script type="text/ng-template" id="my-custom-messages">
  <p ng-message="maxlength">There has to be less characters.</p>
  <p ng-message="required">This field is required.</p>
  <p ng-message="email">This needs to be a valid email</p>
</script>

<!-- <div class="form-group" ng-class="{ 'has-error': patientForm.password.$touched && patientForm.password.$invalid }">
  <label for="password" class="col-sm-4 control-label">Current Password:</label>
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input placeholder="********" type="password" name="password" class="form-control" id="password" ng-model="patient.password" ng-maxlength="120" ng-readonly="!patient.editMode">
    </div>
      <div class="help-block" ng-messages="patientForm.password.$error" ng-show="patientForm.password.$touched">
        <div ng-messages-include="my-custom-messages"></div>
    </div>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error': patientForm.passwordNew.$touched && patientForm.passwordNew.$invalid }">
  <label for="password" class="col-sm-4 control-label">New Password:</label>
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input placeholder="********" type="password" name="passwordNew" class="form-control" id="passwordNew" ng-model="patient.passwordNew" ng-maxlength="120" ng-readonly="!patient.editMode">
    </div>
      <div class="help-block" ng-messages="patientForm.passwordNew.$error" ng-show="patientForm.passwordNew.$touched">
        <div ng-messages-include="my-custom-messages"></div>
    </div>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error': patientForm.passwordConfirm.$touched && patientForm.passwordConfirm.$invalid }">
  <label for="passwordConfirm" class="col-sm-4 control-label">Confirm Password:</label>
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" ng-model="patient.passwordConfirm" ng-maxlength="120" ng-readonly="!patient.editMode">
    </div>
    <div class="help-block" ng-messages="patientForm.passwordConfirm.$error" ng-show="patientForm.passwordConfirm.$touched">
      <div ng-messages-include="my-custom-messages"></div>
  </div>
  </div>
</div> -->
