<h1>Medical Records</h1>
<div class='main'>
  <div class='list-group'>
    <a ng-href='/patient/records/visitHistory' class='list-group-item'>Visit History<i class='fa fa-chevron-right fa-fw fa-pull-right'></i></a>
    <a ng-href='/patient/records/viewVitals' class='list-group-item'>View Vitals<i class='fa fa-chevron-right fa-fw fa-pull-right'></i></a>
    <a ng-href='/patient/records/viewNotes' class='list-group-item'>View Notes<i class='fa fa-chevron-right fa-fw fa-pull-right'></i></a>
    <a ng-href='/patient/records/viewPrescriptions' class='list-group-item'>View Prescriptions<i class='fa fa-chevron-right fa-fw fa-pull-right'></i></a>
    <a ng-href='/patient/records/viewUploads' class='list-group-item'>View Uploads<i class='fa fa-chevron-right fa-fw fa-pull-right'></i></a>
  </div>
</div>
