<div class = "main apptDetails" ng-controller="patientRejectedAppts" ng-init="init()">
  <h1>Request new appointment</h1>
  <div class="alert alert-danger" role="alert" ng-show='error'>
    <button type='button' class='close' aria-label='Close' ng-click='failure = false'>
      <span aria-hidden='true'>&times;</span>
    </button>
    {{error}}
  </div>
<form name="apptDetails" id="apptDetails" ng-hide="error">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" value = "Dr. {{visit.firstName}} {{visit.lastName}}" readonly>
  </div>
  <div class="form-group" ng-hide="editable">
    <label for="date">Visit Date</label>
    <input type="text" class="form-control" id="date" value = "{{visit.visitDate | date : 'short' }}" readonly>
  </div>
  <div class="timePicker main" ng-show="editable">
    <uib-datepicker ng-model="newDate" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker>
    <hr />
    <h4>Select time</h4>
    <uib-timepicker ng-model='newTime' hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>

    <div class="panel panel-info">
    <div class="panel-heading">Selected time</div>
      <div class="panel-body">
        {{newDate | date:'fullDate' }} At {{newTime | date:'shortTime'}}
      </div>
    </div>

  </div>
  <button ng-click="request()" class="btn btn-lg btn-primary btn-block" ng-hide="editable">Request new time</button>
  <button ng-click="submit()" class="btn btn-lg btn-primary btn-block" ng-show="editable">Submit</button>
  <button ng-click="delete()" class="btn btn-lg btn-danger btn-block" ng-hide="editable">Delete Appointment</button>
</form>
</div>
