<div ng-controller="PatientSearch as patient">
  <h1>Doctor Search</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="search" class="col-xs-4 control-label">Search : </label>
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
          <input type="text" id="search" class="form-control" ng-model="query">
        </div>
      </div>
    </div>
  </form>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th class="col-xs-1"><a href="" ng-click="patient.sortField = 'name'; patient.reverse = !patient.reverse">Name</a></th>
      <th class="col-xs-1"><a href="" ng-click="patient.sortField = 'address'; patient.reverse = !patient.reverse">Location</a></th>
      <th class="col-xs-1"><a href="" ng-click="patient.sortField = 'specialties'; patient.reverse = !patient.reverse">Specialties</a></th>
      <th class="col-xs-1"><a href="" ng-click="patient.sortField = 'exp'; patient.reverse = !patient.reverse">Experience</a></th>
    </tr>
  </thead>
  <tr ng-repeat="doctor in patient.doctors | filter: query | orderBy:patient.sortField:patient.reverse">
  <td class="col-xs-1">{{doctor.name}}</td>
  <td class="col-xs-1">{{doctor.address}}</td>
  <td class="col-xs-1">{{doctor.specialties}}</td>
  <td class="col-xs-1">{{doctor.exp}}</td>
  </tr>
</table>
</div>
