<div ng-controller='seeDoctor as doctor' class='main'>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <h3 class='panel-title'>{{doctor.name}}
        <span class='pull-right'>Verified:
          <i ng-show='doctor.verified' class='fa fa-check-circle-o fa-fw'></i>
          <i ng-show='!doctor.verified' class='fa fa-times-circle fa-fw'></i>
        </span>
      </h3>
    </div>
    <div class='panel-body'>
      <table class='table'>
        <tbody>
          <tr><td>Location:</td><td>{{doctor.location}}</td></tr>
          <tr><td>Specialties:</td><td>{{doctor.specialties}}</td></tr>
          <tr><td>Experience:</td><td>{{doctor.experience}}</td></tr>
          <tr><td>Notes:</td><td>{{doctor.notes}}</td></tr>
          <tr><td>Volunteer Experience:</td><td>{{doctor.volunteerNotes}}</td></tr>
        </tbody>
      </table>
      <button ng-click='doctor.next()' class='btn btn-default btn-warning'>View Schedule</button>
    </div>
  </div>
</div>
