<div class="main" ng-controller="Upload">
  <form ng-submit='uploadFile()' enctype='multipart/form-data'>
    <div class="form-group">
      <span class="btn btn-default btn-file">
        Browse <input type="file" ng-model='upload' required>
      </span>
    </div>
    <input type='submit' value='Save' class="btn btn-lg btn-primary btn-block">
  </form>
</div>

<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
