<div class = "main" ng-controller="appointments">
  <div ng-show = "!details" class="text-center">
    <h1>Appointments</h1>
      <h4>Scheduled Appointments</h4>
  <div class="list-group">
    <a class="list-group-item " ng-show="!acc">You have no scheduled appointments</a>
    <a ng-repeat="doc in accepted" ng-click="appointmentDetails(doc.visitID)" class="list-group-item list-group-item-success"><strong>Dr. {{doc.firstName}} {{doc.lastName}}</strong>  <em>{{doc.visitDate | date : 'short'}}</em><i class="fa fa-chevron-right fa-fw fa-pull-right"></i></a>
  </div>
  <hr />
  <h4>Pending Appointments</h4>
  <div class="list-group">
    <a class="list-group-item" ng-show="!req">You have no pending appointments</a>
    <a ng-repeat="doc in requested" ng-click="appointmentDetails(doc.visitID)" class="list-group-item list-group-item-info"><strong>Dr. {{doc.firstName}} {{doc.lastName}}</strong>  <em>{{doc.visitDate | date : 'short'}}</em><i class="fa fa-chevron-right fa-fw fa-pull-right"></i></a>
  </div>
  <h4>Rejected Appointments</h4>
  <div class="list-group">
    <a class="list-group-item" ng-show="!rej">You have no rejected appointments</a>
    <a ng-repeat="doc in rejected" ng-click="appointmentDetails(doc.visitID)" class="list-group-item list-group-item-dange"><strong>Dr. {{doc.firstName}} {{doc.lastName}}</strong>  <em>{{doc.visitDate | date : 'short'}}</em><i class="fa fa-chevron-right fa-fw fa-pull-right"></i></a>
  </div>
  </div>
  <div ng-show = "details">
    <h1>Appointment Details</h1>

  <div class="form-group">
    <label for="name">Name</label>
    <!-- <div class="input-group"> -->
      <!-- <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span> -->
      <input type="text" class="form-control" id="name" value = "Dr. {{name}}" readonly>
    <!-- </div> -->
  </div>
  <div class="form-group">
    <label for="date">Visit Date</label>
      <input type="text" class="form-control" id="date" value = "{{date | date : 'short' }}" readonly>
  </div>
  <div class = "form-group">
    <label for="dia">Diagnosis</label>
      <div class="input-group">
      <input type="text" class="form-control" id="dia" ng-model="diagnosis" ng-readonly="!diaEdit">
      <div class="input-group-btn">
        <button ng-show="!diaEdit" class="btn btn-default" type="button" ng-click="diaEdit = !diaEdit">Edit</button>
        <button ng-show="diaEdit" class="btn btn-default" type="button" ng-click="diaEdit = !diaEdit">Save</button>
      </div>
    </div>
  </div>
  <div class = "form-group">
    <label for="sy">Symptoms</label>
      <div class="input-group">
      <input type="text" class="form-control" id="sy" ng-model="symptoms" ng-readonly="!symEdit">
      <div class="input-group-btn">
        <button ng-show="!symEdit" class="btn btn-default" type="button" ng-click="symEdit = !symEdit">Edit</button>
        <button ng-show="symEdit" class="btn btn-default" type="button" ng-click="symEdit = !symEdit">Save</button>
      </div>
    </div>
  </div>
  <div class = "form-group">
    <label for="pr">Prescriptions</label>
      <div class="list-group-item" ng-repeat="pre in prescriptions" ng-click="open(prescriptions, $index)">
        {{pre}}
      </div>
      <br />
      <div class="input-group">
      <input type="text" class="form-control" id="pr" ng-model="pre">
      <div class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addPre()">Add</button>
      </div>
    </div>
  </div>
  <hr />
  <div class = "form-group">
    <label for="notes">Notes</label>
      <div class="list-group-item" ng-repeat="note in notes" ng-click="open(notes, $index)">
        {{note}}
      </div>
      <br />
      <div class="input-group">
      <input type="text" class="form-control" id="notes" ng-model="note">
      <div class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addNote()">Add</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <label for="imgs">Images</label>
    <div class="list-group-item" ng-repeat="n in imgNames" ng-click="openImage(images, $index)">
      {{n}}
    </div><br />

    <input type='file' id="file" name="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" accept="image/jpeg, image/png"  multiple/>
  </div>
<hr />
  <button ng-click="save()" class="btn btn-lg btn-primary btn-block">
    Update
  </button>

  </div>
</div>
