<div class="main apptDetails container" ng-controller="DoctorAppointmentDetails">
  <h1>Appointment Details</h1>

<div class="form-group">
  <label for="name">Name</label>
  <!-- <div class="input-group"> -->
    <!-- <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span> -->
    <input type="text" class="form-control" id="name" value = "Dr. {{name}}" readonly>
  <!-- </div> -->
</div>
<div class="form-group">
  <label for="date">Visit Date</label>
    <input type="text" class="form-control" id="date" value = "{{date | date : 'short' }}" readonly>
</div>

<div ng-show="!waiting && !requested">
<div class = "form-group">
  <label for="dia">Diagnosis</label>
    <div class="input-group">
    <textarea type="text" class="form-control" id="dia" ng-model="diagnosis" ng-readonly="!diaEdit"></textarea>
      <span ng-show="!diaEdit" class="input-group-addon btn btn-default" type="button" ng-click="diaEdit = !diaEdit">Edit</span>
      <span ng-show="diaEdit" class="input-group-addon btn btn-default" type="button" ng-click="diaEdit = !diaEdit; saveVisit()">Save</span>
  </div>
</div>
<div class="form-group">
  <label for="sy">Symptoms</label>
    <div class="input-group">
    <textarea type="text" class="form-control" id="sy" ng-model="symptoms" ng-readonly="!symEdit"></textarea>
      <span ng-show="!symEdit" class="input-group-addon btn btn-default" type="button" ng-click="symEdit = !symEdit">Edit</span>
      <span ng-show="symEdit" class="input-group-addon btn btn-default" type="button" ng-click="symEdit = !symEdit; saveVisit()">Save</span>
  </div>
</div>

<div class="form-group">
  <h3>Vitals</h3>
  <div class="list-group-item" ng-click="viewVital(vitals)">
    view vitals
  </div>
</div>
<hr />

<div class="form-group">
  <h3>Prescriptions</h3>
  <button class="btn btn-default pull-right down" ng-click="addPre()">+</button>
  <div class="list-group-item" ng-repeat="pre in prescriptions" ng-click="viewPre(pre)">
    {{pre.name}}
  </div>
</div>
<hr />

<div class="form-group">
  <h3>Notes</h3>
  <button class="btn btn-default pull-right down" ng-click="addNote()">+</button>
  <div class="list-group-item" ng-repeat="note in notes" ng-click="viewNote(note)">
    <span ng-show="{{note.note.length > 35}}">{{note.note.slice(0, 35) + '...'}}</span>
    <span ng-hide="{{note.note.length > 35}}">{{note.note}}</span>
  </div>
</div>
<hr />

<div class="form-group">
  <h3>Uploads</h3>
  <button class="btn btn-default pull-right down" ng-click="addImage()">+</button>
  <div class="list-group-item" ng-repeat="img in images" ng-click="viewImage(img.filePath)">
    {{img.dataName + ' ' + img.name}}
  </div>
</div>
<hr />
</div>
<div ng-show="!waiting && requested">
  <button class = "btn btn-success btn-lg halfWidth" ng-click="accept()">Accept</button>
  <button class = "btn btn-danger btn-lg halfWidth pull-right" ng-click="reject()">Reject</button>
</div>
</div>
