<h1>Doctor Register</h1>
<form class="form-horizontal" ng-controller="DRController as doctor" ng-submit="doctor.register()">
  <div class="form-group">
    <label for="username" class="col-sm-4 control-label">Username:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="username" ng-model="doctor.username">
    </div>
  </div>
  <div class="form-group">
    <label for="firstName" class="col-sm-4 control-label">First Name:</label>
    <div class="col-sm-4">
    	<input type="text" class="form-control" id="firstName" ng-model="doctor.firstName">
    </div>
  </div>
  <div class="form-group">
    <label for="lastName" class="col-sm-4 control-label">Last Name:</label>
    <div class="col-sm-4">
    	<input type="text" class="form-control" id="lastName" ng-model="doctor.lastName">
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-sm-4 control-label">Address:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="address" ng-model="doctor.address">
    </div>
  </div>
  <div class="form-group">
    <label for="phoneNumber" class="col-sm-4 control-label">Phone:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="phoneNumber" ng-model="doctor.phoneNumber" ui-mask="{{'999-999-9999'}}">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-4 control-label">Email:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="email" ng-model="doctor.email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-4 control-label">Password:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" ng-model="doctor.password">
    </div>
  </div>
  <div class="form-group">
    <label for="passwordConfirm" class="col-sm-4 control-label">Confirm Password:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="passwordConfirm" ng-model="doctor.passwordConfirm">
    </div>
  </div>
    <div class="form-group">
    <label for="verify" class="col-sm-4 control-label">Doctor Verification Number:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="verify" ng-model="doctor.verify">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
</form>
