<div class="admin" ng-init=init('datatype')>
  <h1>Manage Upload Types</h1>
  <br/>
  <p>
  This is where you can manage the types of files available for users to upload. Deactivating a type will remove that item from the list of possible types when uploading a file to the system. If no uploads have are using a deactivated type, you can delete the type completely.
  </p>
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">Create new</span>
  </div>
  <form class="form-inline adminManage" ng-submit="add()">
    <div class="form-group">
      <label class="sr-only" for="name">Upload type</label>
      <div class="input-group">
        <input type="text" class="form-control" id="name" ng-model="name" placeholder="Datatype" required>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Add Datatype</button>
        </span>
      </div>
    </div>
  </form>
  <div class="alert alert-success" role="alert" ng-show='success'>
		<button type='button' class='close' aria-label='Close' ng-click='success = false'>
			<span aria-hidden='true'>&times;</span>
		</button>
    {{success}}
  </div>
  <div class="alert alert-info" role="alert" ng-show='failure'>
		<button type='button' class='close' aria-label='Close' ng-click='failure = false'>
			<span aria-hidden='true'>&times;</span>
		</button>
    {{failure}}
  </div>
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">Filter</span>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input type="text" id="search" class="form-control" ng-model="query">
      </div>
    </div>
  </form>
	<div class="login-or">
		<hr class="hr-or">
		<span class="span-or">Active</span>
	</div>
  <div class="list-group adminList" ng-show='actives'>
    <li class="list-group-item list" ng-repeat='d in actives | filter: query'>
      <div class='wrapper' ng-hide="d.isEdit">
        <div class='adminName'>{{d.name}}</div>
        <div class="btn-group" role="group">
          <button type="button" ng-click="edit(d)" class="btn btn-info">edit</button>
          <button type="button" ng-click="deactivate(d)" class="btn btn-primary">deactivate</button>
        </div>
      </div>
      <div class="editForm" ng-show="d.isEdit">
        <form class="form-inline" ng-submit="saveChanges(d)">
          <div class="form-group">
            <label class="sr-only" for="name">Datatype</label>
            <div class="input-group">
              <input type="text" class="form-control" id="name" ng-model="d.name" placeholder="{{d.name}}" required>
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit" ng-disabled="ng">Save changes</button>
              </span>
            </div>
          </div>
        </form>
      </div> 
    </li>
  </div>
	<div class="login-or">
		<hr class="hr-or">
		<span class="span-or">Inactive</span>
	</div>
  <div class="list-group adminList" ng-show='inactives'>
    <li class="list-group-item list" ng-repeat='d in inactives | filter: query'>
      <div class='adminName'>{{d.name}}</div>
      <div class="btn-group" role="group">
          <button type="button" ng-click="activate(d)" class="btn btn-success">activate</button>
          <button type="button" ng-click="delete(d)" class="btn btn-danger">delete</button>
        </div>
    </li>
  </div>
</div>
