<div class="admin" ng-init=init()>
  <h1>Verify Doctors</h1>
  <br/>
  <p>
  Doctors must provide their medical identification number in order to prove they are a doctor.  Once a code has been entered, an administrator must verify it. If a code is invalid, mark the doctor as Denied.  This will prevent the doctor from being displayed to patients until they have entered in a new code. Unverified doctors will appear in the doctor search, but will not have the green check mark next to their name.
  </p>
  <div class="alert alert-success" role="alert" ng-show='success'>
		<button type='button' class='close' aria-label='Close' ng-click='success = false'>
			<span aria-hidden='true'>&times;</span>
		</button>
    {{success}}
  </div>
  <div class="alert alert-info" role="alert" ng-show='failure'>
		<button type='button' class='close' aria-label='Close' ng-click='failure = false'>
			<span aria-hidden='true'>&times;</span>
		</button>
    {{failure}}
  </div>
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">Filter</span>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input type="text" id="search" class="form-control" ng-model="query">
      </div>
    </div>
  </form>
	<div class="login-or">
		<hr class="hr-or">
		<span class="span-or">Unverified</span>
	</div>
  <div class="list-group adminList" ng-show='unverified'>
    <li class="list-group-item list" ng-repeat='u in unverified | filter:query | orderBy:"lastName":false'>
      <h5>{{u.lastName + ', ' + u.firstName}}</h5>
      Code: {{u.verificationCode}}
      <div class="btn-group" role="group">
        <button type="button" ng-click="verify(u, unverified)" class="btn btn-success">Verify</button>
        <button type="button" ng-click="deny(u, unverified)" class="btn btn-danger">Deny</button>
      </div>
    </li>
  </div>
  <div class="login-or">
    <hr class="hr-or">
    <span class="span-or">Denied</span>
  </div>
  <div class="list-group adminList" ng-show='denied'>
    <li class="list-group-item list" ng-repeat='d in denied | filter:query | orderBy:"lastName":false'>
      <h5>{{d.lastName + ', ' + d.firstName}}</h5>
      Code: {{d.verificationCode}}
      <div class="btn-group" role="group">
        <button type="button" ng-click="verify(d, denied)" class="btn btn-success">Verify</button>
        <button type="button" ng-click="unverify(d, denied)" class="btn btn-primary">Unverify</button>
      </div>
    </li>
  </div>
	<div class="login-or">
		<hr class="hr-or">
		<span class="span-or">Verified</span>
	</div>
  <div class="list-group adminList" ng-show='verified'>
    <li class="list-group-item list" ng-repeat='v in verified | filter:query | orderBy:"lastName":false'>
      <h5>{{v.lastName + ', ' + v.firstName}}</h5>
      Code: {{v.verificationCode}}
      <div class="btn-group" role="group">
        <button type="button" ng-click="deny(v, verified)" class="btn btn-danger">Deny</button>
        <button type="button" ng-click="unverify(v, verified)" class="btn btn-primary">Unverify</button>
      </div>
    </li>
  </div>
</div>
