<div class = "main" ng-controller="patientVitals" ng-init="init()">
	<div class="text-center">
	    <h1>Vitals</h1>
		<button ng-click="add()" class="btn btn-sm btn-primary btn-block">Add Vitals</button>
	    <br/>
	    <form class="form-horizontal">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
					<input type="text" id="search" class="form-control" ng-model="query">
				</div>
			</div>
		</form>
	    <div class="list-group">
			<a class="list-group-item" ng-hide="vitals.length">You have no vitals</a>
			<a ng-repeat="v in vitals | filter:query | orderBy:'-vitalsDate'" ng-click="viewVitals(v)" class="list-group-item list-group-item-info"><strong>{{ v.vitalsDate | date : 'MM/dd/yyyy'}}</strong><i class="fa fa-chevron-right fa-fw fa-pull-right"></i></a>
	    </div>
	</div>
</div>
